body, html{
	height: 100%;
	margin: 0;
	/*background-color: rgb(105, 105, 105)*/
}


* {
    box-sizing: border-box;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #268aa0;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #1d6f82;
}

/* Style the container/contact section */
.container {
    padding: 10px;
    padding-top: 70px;
    background-color: #cccccc;
}

.row {
	padding-left: 300px;
	padding-right: 300px;
}
