body, html {
    height: 100%;
	margin: 0;
}

.container-fluid { 
    background-image: url("../img/road.jpeg");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;	
    margin: 0 auto;
    list-style-type: none;
}

@font-face{
	font-family: 'myFont';
	src: url(../StayWildy.ttf);
}

.container-fluid h2{
	font-size: 750%;
	font-family: 'myFont';
	color: white;
	text-align: center;
	padding-top: 225px;
	margin: 0;
	/*-webkit-animation: fadein 3s;*/
	cursor: default;
}

.container-fluid a{
	text-decoration: none;
	color: white;
	list-style-type: none;
}

.quote{
	text-align: center;
}

.container-fluid h3{
	text-align: center;
	display: inline-block;
	color: white;
	margin: 0;
	font-size: 20px;
	font-family: 'Roboto Condensed', sans-serif;
	cursor: default;
}

.container-fluid a:hover{
	text-decoration: none;
	list-style-type: none;
	color: white;
}
