body, html {
	height: 100%;
	margin: 0;
	background-image: url("../img/gray.jpg")
}

/*.container{	
	height: auto;
	width: 100%;
	margin-left: 100px;
	padding-top: 200px;
	padding-bottom: 200px;
}

.container ul{
	list-style-type: none;
	padding-bottom: 200px;
}

.container li{
	list-style-type: none;	
	text-decoration: none;
	display: inline-block;
	float: left;
	padding-bottom: 200px;
}

.container img{
	z-index: -1;
	top: 50%;
	left: 50%;
	padding-right: 40px;
	padding-bottom: 200px;
}

.container h2{
	display: inline-block;
	text-align: center;
}*/

.row{
	padding-top: 200px;
	padding-bottom: 200px;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;	
}

.column {
    float: left;
    width: 33.33%;
    text-align: center;
}

.column p, a{

	text-decoration: none;
}

.row a:hover{
	opacity: 0.5;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
