body, html{
	margin: 0;
	background-color: #cccccc;
}

.container {
	padding-top: 100px;
	padding-left: 100px;
}

.row {
	padding-bottom: 40px;
}



.column {
	display: inline-block;
	padding-right: 80px;
}